<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">{{title}}</h3>
      <nav class="nav nav-masthead justify-content-center">
      </nav>
    </div>
  </header>

  <main role="main" class="inner cover text-center">
    <div class="row mb-3">
      <div class="col">
        <h4><span class="badge badge-info float-left">{{correctAnswersCount}} of {{totalItems}}</span></h4>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <div *ngIf="showSucces" class="alert alert-success" role="alert">
          Correct!
        </div>
        <div *ngIf="showError" class="alert alert-danger" role="alert">
          Oops! {{errorMessage}}
        </div>
        <div *ngIf="showCongratz" class="alert alert-primary" role="alert">
          Congratulations!!! You completed the set.
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <h1 class="q cover-heading">{{guessWord}}</h1>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <p class="lead">A sample sentence should go here.</p>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <input [(ngModel)]="answerEN" class="form-control form-control-lg" type="text" placeholder="English" (keydown.enter)="onKeydown()">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <input [(ngModel)]="answerHG" class="form-control form-control-lg" type="text" placeholder="Hiragana" (keydown.enter)="onKeydown()">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <button type="button" class="btn btn-outline-primary btn-block" (click)="submitAnswer()">Submit</button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-outline-secondary btn-block" (click)="nextWord(0)">Next</button>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <div class="dropdown">
          <button class="btn btn-info dropdown-toggle btn-block" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{testMode}}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <button class="dropdown-item" type="button" (click)="toggleTestMode(0)">JP to EN</button>
            <button class="dropdown-item" type="button" (click)="toggleTestMode(1)">EN to JP</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="dropdown">
          <button class="btn btn-info dropdown-toggle btn-block" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{testSet}}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <button class="dropdown-item" type="button" (click)="toggleTestSet(set)" *ngFor="let set of vocabSets">Set {{set}}</button>
          </div>
        </div>
      </div>
    </div>
  </main>

  <footer class="mastfoot mt-auto text-center">
    <div class="inner">
      <p>edaustin@gecogeco.com</p>
    </div>
  </footer>
</div>
